<!doctype html>
<html lang="en">
<head>
        <div class="page-header">
            <h1 class="text-center">Overview of Training Dataset</h1>
        </div>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://d14fo0winaifog.cloudfront.net/plotly-basic.js"></script>
</head>
<style>
    body {
    	margin-left:20px;
    	margin-right:10px;
        margin-bottom:10px;
    }
    #p_comments {
       font-weight:bold;
       font-size:1.3em;
    }

    .purple_text {
       color:purple;
    }
</style>

<body>



<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src=""https://cdnjs.cloudfare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
<!--#Added by Pravin-->
<div class="row">
	<!--Visualization column-->
                <div class="row">
	            <p class="lead" style="margin-left:20px;" ><b>In summary:</b> </p>
                       <ul>
                          <li><p class="lead"> This is an imbalanced dataset, irrespective of whether we consider each category/ label as a class, or each unique combination of labels as a class</p></li>
                       </ul>
                </div>

        <!--Charts section-->
          <div id="charts", class="container mt-3 text-center">
                <!--Top two charts-->
                <div class="row">
                    <div class="col-md-6">
	                <p id="p_comments" class="text-center">Over 76% of the messages belong to one class </p>
                        <div id="id0">
                            <script>
                                var graphs = {{ plot | safe }};
                                Plotly.plot('id0',graphs,{});
                            </script>
                        </div>
                    </div>
                    <div class="col-md-6">
	                <p id="p_comments" class="text-center">23% of messages have no labels, 21% only one amongst the 36 labels; a small % of messages have multiple - between 2 to 23 labels</p>
                        <div id="id1">
                            <script>
                                var graphs = {{ plot1 | safe }};
                                Plotly.plot('id1',graphs,{});
                            </script>
                        </div>
                    </div>
                </div>
                <div class="row mb-6">
	            <p id="p_comments" class="text-center"><span class="purple_text" >Food, water, people, earthquake, flood </span> are most referred words for messages with "related" and "aid related" labels </p>
                    <div class="col-md-6">
                        <div id="id2"a>
			   <h4>Word Cloud for Label = "Related"</h4>
                           <img src="{{url_for('static',filename='WordCloud-related.png')}}" alt="Word Cloud for Label= Related" width="400" height="400" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div id="id3">
			   <h4>Word Cloud for Label = "Aid Related"</h4>
                           <img src="{{url_for('static',filename='WordCloud-aid-related.png')}}" alt="WordCloud for Label= Related" width="400" height="400" />
                        </div>
                    </div>
                </div>
          </div>
</div>

</body>

<footer>

</footer>
</html>
